<mat-toolbar class="back-nav" [ngSwitch]="lang">
  <span class="bolt-icon" (click)="routerHome()"></span>
  <span class="separator"></span>
  <div class="back-nav__options">
    <p *ngSwitchCase="'Esp'" class="greeting title-header">
      <span class="material-icons menu-icon">
        bolt
      </span>
      Hola {{ getProfile() }}!
    </p>
    <p *ngSwitchCase="'Eng'" class="greeting title-header">
      <span class="material-icons menu-icon">
        bolt
      </span>
      Hi {{ getProfile() }}!
    </p>

    <div class="select">
      <select (change)="changeLang($event.target.value)" class="select-font">
        <option value="Esp" [selected]="lang == 'Esp'">Esp</option>
        <option value="Eng" [selected]="lang == 'Eng'">Eng</option>
      </select>
    </div>
  </div>
</mat-toolbar>
