<mat-toolbar class="back-nav">
  <span class="bolt-icon"></span>
  <span class="separator"></span>
  <div class="back-nav__options">
    <p class="greeting title-header">
      <span class="material-icons menu-icon">
        bolt
      </span>
      hola {{ userName }}!
    </p>
    <!-- <mat-form-field>
      <mat-select
        disableRipple
        disableOptionCentering
        panelClass="myPanelClass"
        (selectionChange)="changeLeng($event)"
        value="Esp"
      >
        <mat-option value="Esp">Esp</mat-option>
        <mat-option value="Eng">Eng</mat-option>
      </mat-select>
    </mat-form-field> -->
    <div class="select">
      <select name="slct" id="slct" class="select-font">
        <option value="Esp" selected>Esp</option>
        <option value="Eng">Eng</option>
      </select>
    </div>
  </div>
</mat-toolbar>
