mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* bolt styles */
/* navbar styles */
.back-nav {
  background: #4b4b4b;
  mix-blend-mode: normal;
  height: 80px;
  padding: 0;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);

  &__options {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
  }
  .separator {
    height: 100%;
  }
  .greeting {
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
  }
}

select {
  /* Reset Select */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }

  // custom view
  background: linear-gradient(180deg, #eb2228 0%, #dc1a5e 100%);
  border-radius: 0px 0px 10px 10px;
  width: 75px;
  height: 62px;

  // option styles
  option {
    outline: none;
    box-shadow: none;
    border: none !important;
    font-size: 24px;
    padding: 10px 5px;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.91;

    @supports (backdrop-filter: blur(4px)) {
      backdrop-filter: blur(4px);
    }
  }
}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0 77px auto 60px;

  /* Arrow */
  &::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 10px;
    transform: scale(0.8);
    background: transparent;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
  }

  /* Transition */
  &:hover::after {
    transform: scale(0.7);
  }
}
