<footer class="footer">
  <div class="row">
    <div class="custom-col">
      <div class="brew-icon"></div>
    </div>
    <div class="custom-col">
      <p class="footer__title">Solicitud acceso nuevo proyecto</p>
      <ul>
        <li class="footer__text">
          <a href="#" rel="noreferrer noopener">Generar solicitud</a>
        </li>
      </ul>
    </div>
    <div class="custom-col">
      <p class="footer__title">Contacto soporte</p>
      <ul>
        <li>
          <span class="material-icons icon">
            mail
          </span>
          <p class="footer__text">correo@ejmplousuario.com</p>
        </li>
        <li>
          <span class="material-icons icon">
            call
          </span>
          <p class="footer__text">+57 316-467 987</p>
        </li>
      </ul>
    </div>
    <div class="custom-col">
      <div class="row">
        <div class="abinbev-icon"></div>
        <div class="vertical-divider"></div>
        <div class="analytics-icon"></div>
      </div>
    </div>
  </div>
  <div class="redSpace"></div>
</footer>
