<footer [ngSwitch]="lang" class="footer">
  <div class="row">
    <div class="custom-col">
      <div class="brew-icon"></div>
    </div>
    <div class="custom-col">
      <p *ngSwitchCase="'Esp'" class="footer__title">
        Solicitud acceso nuevo proyecto
      </p>
      <p *ngSwitchCase="'Eng'" class="footer__title">
        Request new project access
      </p>
      <ul>
        <li class="footer__text">
          <a *ngSwitchCase="'Esp'" href="#" rel="noreferrer noopener">
            Generar solicitud
          </a>
          <a *ngSwitchCase="'Eng'" href="#" rel="noreferrer noopener">
            Generate request
          </a>
        </li>
      </ul>
    </div>
    <div class="custom-col">
      <p *ngSwitchCase="'Esp'" class="footer__title">Contacto soporte</p>
      <p *ngSwitchCase="'Eng'" class="footer__title">Support contact</p>
      <ul>
        <li>
          <span class="material-icons icon">
            mail
          </span>
          <p class="footer__text">correo@ejmplousuario.com</p>
        </li>
        <li>
          <span class="material-icons icon">
            call
          </span>
          <p class="footer__text">+57 316-467 987</p>
        </li>
      </ul>
    </div>
    <div class="custom-col">
      <div class="row">
        <div class="abinbev-icon"></div>
        <div class="vertical-divider"></div>
        <div class="analytics-icon"></div>
      </div>
    </div>
  </div>
  <div class="redSpace"></div>
</footer>
