/* button styles */
.flex-column .mat-button {
  width: 100%;
  text-align: left;
}
.arrow {
  color: #6c6c6c;
  margin-top: 2px;
  font-size: 16px !important;
  transition: all 0.4s;
}
.arrowDown {
  color: #fff;
  transform: rotate(90deg);
}
.arrowUp {
  transform: rotate(0deg);
}
.icon {
  font-size: 22px;
  line-height: 22px;
  margin: 0 6px;
}
.menu-icon {
  color: #e21d47;
}

// sidebar
.rounded {
  width: 290px !important;
  background: linear-gradient(90deg, #e3e3e3 0%, #dc1a5e 100%);
  border-radius: 0 5px 5px 0;
  color: #fff;
  text-align: right !important;
  padding-right: 0px !important;
  transition: left 0.4s;
  .icon {
    transform: rotate(180deg);
  }
}

.banner__btn {
  width: 152px;
  height: 36px;
  background: #d91948;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: none;
}
