/* button styles */
.flex-column .mat-button {
  width: 100%;
  text-align: left;
}
.arrow {
  color: #6c6c6c;
  margin-top: 2px;
  font-size: 16px !important;
  transition: all 0.4s;
}
.arrowDown {
  color: #fff;
  transform: rotate(90deg);
}
.arrowUp {
  transform: rotate(0deg);
}
.icon {
  font-size: 22px;
  line-height: 22px;
  margin: 0 6px;
}
.menu-icon {
  color: #e21d47;
}
