/* flex styles */
.flex-column {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex1 {
  display: flex;
  flex: 1;
  align-items: center;
}

.separator {
  flex: 1 1 auto;
}

/* divider styles */
mat-divider {
  width: 85%;
  margin: 20px auto !important;
  border-top-color: #212121 !important;
}

.box-shadow {
  box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.25) inset;
}
