/* flex styles */
.flex-column {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex1 {
  display: flex;
  flex: 1;
  align-items: center;
}

.separator {
  flex: 1 1 auto;
}

/* divider styles */
mat-divider {
  width: 85%;
  margin: 20px auto !important;
  border-top-color: #212121 !important;
}

.box-shadow {
  box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.25) inset;
}
// set dialog styles
.mat-dialog-container {
  background-color: #fff;
  padding: 0px !important;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.32);
  @supports (backdrop-filter: blur(20px)) {
    backdrop-filter: blur(20px);
  }
}
@mixin dialog($width, $height, $bgColor, $color) {
  width: $width;
  height: $height;
  background-color: $bgColor;
  color: $color;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dialog-alert,
.dialog-notification {
  @include dialog(100%, 240px, #ffffff, #707782);
  &__content {
    text-align: center;
    max-width: 85%;
  }
}
.dialog-form {
  @include dialog(496px, auto, #ffffff, #707782);
  .material-icons {
    font-size: 18px;
    margin-right: 5px;
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-outline-gap {
    padding-right: 10px;
  }
}

.x-icon {
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    transform: scale(0.85);
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 80%;
  max-width: 420px;
}

.loading-modal {
  .mat-dialog-container {
    background-color: transparent;
    width: auto;
    height: auto;
    box-shadow: none;
    overflow: hidden;
  }
}

.snack-alert {
  width: 587px;
  height: 75px;
  max-width: 60vw !important;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px !important;
  padding: 5px 16px !important;
  border-left: 10px solid #dc1a5e;
}
