@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/GothamMedium.ttf');
}
@mixin title($ffamily, $fsize, $lineh, $color) {
  font-family: $ffamily;
  font-style: normal;
  font-weight: normal;
  font-size: $fsize;
  line-height: $lineh;
  color: $color;
}

/* titles */
.title-header {
  @include title('Gotham', 22px, 26px, #fff);
  font-weight: bold;
  letter-spacing: 2px;
}

.select-font {
  @include title('Gotham', 20px, 22px, #fff);
}
// sidebar
.sidebar-title {
  @include title(Roboto, 14px, 16px, #393939);
  font-weight: bold;
  padding: 0 24px;
  margin: 10px 0;
  text-align: left;
}

// pop ups
.dialog-alert__content {
  @include title('Gotham', 20px, 30px, #707782);
}
.form-title {
  @include title('Gotham', 24px, 30px, #707782);
  margin: 0 auto 10px 28px;
  align-self: flex-start;
  border-bottom: 2px solid #e21d47;
}
// home banner
.banner {
  &__text {
    @include title('Gotham', 50px, 60px, #282828);
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    background-color: #fff;
    text-transform: uppercase;
  }
  &__btn {
    @include title('Gotham', 14px, 16px, #fff);
  }
}

.favorites-banner-title {
  @include title('Gotham', 36px, 43px, #212121);
  font-weight: bold;
  text-align: left;
}

.title-description {
  @include title('Gotham', 14px, 13px, #e21c48);
  font-weight: bold;
  margin-bottom: 10px !important;
}

.text-muted {
  @include title('Gotham', 10px, 10px, #707782);
  text-transform: uppercase;
}

// footer
.footer {
  @include title('Roboto', 12px, 14px, #fff);

  &__title {
    width: fit-content;
    margin: 5px auto;
    border-bottom: 1px solid #e21d47;
    padding-bottom: 5px;
    @media (min-width: 1024px) {
      margin: 5px 0;
    }
  }
  &__text {
    font-size: 10px;
    line-height: 12px;

    a {
      color: #fff;
    }
  }
}
