/* titles */
.sidebar-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #393939;
  padding: 0 24px;
  margin: 10px 0;
  text-align: left;
}
