/* background images*/
@mixin img-background($img, $width, $heigth, $position) {
  background: $img;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $width;
  height: $heigth;
  position: $position;
}

/* icons */

.arrow {
  color: #6c6c6c;
  margin-top: 2px;
  font-size: 16px !important;
  transition: all 0.4s;
}
.arrowDown {
  color: #fff;
  transform: rotate(90deg);
}
.arrowUp {
  transform: rotate(0deg);
}
.icon {
  font-size: 22px;
  line-height: 22px;
  margin: 0 6px;
}
.icon-md {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}
.icon-lg {
  font-size: 41px;
  line-height: 41px;
  margin: 0;
}
.menu-icon {
  color: #e21d47;
}

// brand icons  for menu
.tableau {
  @include img-background(url('/assets/icon/dash.svg'), 20px, 20px, relative);
}

.power {
  @include img-background(url('/assets/icon/power.svg'), 20px, 20px, relative);
}

.shiny {
  @include img-background(url('/assets/icon/shiny.svg'), 20px, 20px, relative);
}
// fav item icons big
.tableau-big {
  @include img-background(
    url('/assets/icon/dash-big.svg'),
    33px,
    33px,
    absolute
  );
}
.card-pattern {
  @include img-background(
    url('/assets/icon/card-pattern.svg'),
    100%,
    60px,
    relative
  );
}

.power-big {
  @include img-background(
    url('/assets/icon/power-big.svg'),
    33px,
    33px,
    absolute
  );
}

.shiny-big {
  @include img-background(
    url('/assets/icon/shiny-big.svg'),
    33px,
    33px,
    absolute
  );
}

.empty-fav {
  @include img-background(
    url('/assets/images/empty-fav.png'),
    195px,
    147px,
    relative
  );
  margin-top: 101px;
}

// access forbiden

.icon-forbiden {
  @include img-background(
    url('/assets/icon/access-forbiden.svg'),
    60px,
    48px,
    relative
  );
}
// close icon
.x-icon {
  @include img-background(
    url('/assets/icon/close-x.svg'),
    14px,
    16px,
    absolute
  );
}
// ckeck icon
.check-icon {
  @include img-background(
    url('/assets/icon/check-circle.svg'),
    48px,
    48px,
    relative
  );
}

// footer
.bolt-icon {
  @include img-background(url('/assets/icon/bolt.svg'), 215px, 79px, relative);
}

.brew-icon {
  @include img-background(
    url('/assets/icon/brewTech.svg'),
    215px,
    79px,
    relative
  );
}
.abinbev-icon {
  @include img-background(
    url('/assets/icon/abinbev.svg'),
    145px,
    27px,
    relative
  );
}

.analytics-icon {
  @include img-background(
    url('/assets/icon/analytics.svg'),
    129px,
    61px,
    relative
  );
}
