p,
h1,
h2,
h3 {
  margin: 0;
}
.container {
  .tabs {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    background: #ffffff;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .bolt-btn-filled {
      align-self: flex-end;
      width: 185px;
    }
    .project-submenus {
      transition: all 0.4s;
      align-items: flex-start;
    }
  }
}
::ng-deep .mat-tab-group {
  width: 100%;
  .mat-tab-label {
    width: 50%;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: rgba(226, 29, 71, 0.4);
    border-bottom: 3px solid rgba(226, 29, 71, 0.41);
  }
  .mat-tab-label-active {
    color: #e21d47;
    opacity: 1;
  }
  .mat-ink-bar {
    height: 3px;
  }
}

.background-grey {
  background: #f8f8f8;
  box-sizing: border-box;
  padding: 10px 0;
  transition: padding 0.2s ease-out;
}
.background-transparent {
  background: transparent;
  box-sizing: border-box;
  padding: 0;
  transition: padding 0.2s ease-in;
  border-bottom: 1px solid #c4c4c4;
}
.arrowDown {
  color: #333333;
}

.paginator {
  float: right;
  margin-top: 10px;
  &-button {
  }
}
