<!-- sidebar -->
<aside class="flex-column box-shadow" id="sidebar" [ngSwitch]="lang">
  <mat-accordion id="accordion1" multi="false">
    <!-- fav section -->
    <mat-expansion-panel
      hideToggle
      (opened)="arrowRotate(true, 'f')"
      (closed)="arrowRotate(false, 'f')"
      id="extf"
      class="no-padding"
    >
      <mat-expansion-panel-header>
        <i class="material-icons arrow" id="arrowEf">
          arrow_forward_ios
        </i>
        <span class="material-icons icon menu-icon" id="iconEf">
          star
        </span>
        <div *ngSwitchCase="'Esp'">
          Favoritos
        </div>
        <div *ngSwitchCase="'Eng'">
          Favorites
        </div>
      </mat-expansion-panel-header>

      <p style="margin-left: 40px;" *ngIf="favList.length == 0">
        Aun no tienes ningún favorito!
      </p>

      <section disableRipple="true" class="row" *ngFor="let favItem of favList">
        <button mat-button (click)="openApp(favItem.id)">
          <div class="flex1">
            <span class="icon {{ favItem.item_icon }}"></span>
            {{ favItem.item_name }}
          </div>
        </button>
        <input
          class="star"
          type="checkbox"
          title="bookmark page"
          checked="favItem.fav"
          (change)="updateFav($event.target.checked, favItem)"
        />
      </section>
    </mat-expansion-panel>

    <!-- admin section -->
    <mat-expansion-panel
      *ngIf="role == 'admin'"
      id="exta"
      hideToggle
      (opened)="arrowRotate(true, 'a')"
      (closed)="arrowRotate(false, 'a')"
    >
      <mat-expansion-panel-header>
        <i class="material-icons arrow" id="arrowEa">
          arrow_forward_ios
        </i>
        <span class="material-icons icon menu-icon" id="iconEa">
          manage_accounts
        </span>
        <div *ngSwitchCase="'Esp'">
          Administrador
        </div>
        <div *ngSwitchCase="'Eng'">
          Manager
        </div>
      </mat-expansion-panel-header>

      <div class="left-line">
        <div>
          <div>
            <button
              id="projects"
              mat-button
              [matMenuTriggerFor]="menuProjects"
              (menuOpened)="menuOpened('projects')"
              (menuClosed)="menuClosed('projects')"
              disableRipple="true"
              class="colapsable-menu"
            >
              <span class="material-icons icon">
                account_tree
              </span>
              <span *ngSwitchCase="'Esp'">
                Proyectos
              </span>
              <span *ngSwitchCase="'Eng'">
                Projects
              </span>
            </button>

            <mat-menu
              #menuProjects="matMenu"
              xPosition="after"
              yPosition="below"
              direction="vertical"
            >
              <section mat-menu-item disableRipple="true" class="row">
                <button
                  mat-button
                  (click)="adminRedirect('projects')"
                  style="width: 100%;"
                >
                  <div class="flex1">
                    <span class="material-icons icon">
                      post_add
                    </span>
                    <div *ngSwitchCase="'Esp'">
                      crear o modificar un projecto
                    </div>
                    <div *ngSwitchCase="'Eng'">
                      create or modify projects
                    </div>
                  </div>
                </button>
              </section>
            </mat-menu>
          </div>
          <div>
            <button
              id="roles"
              mat-button
              [matMenuTriggerFor]="menuRoles"
              (menuOpened)="menuOpened('roles')"
              (menuClosed)="menuClosed('roles')"
              disableRipple="true"
              class="colapsable-menu"
            >
              <span class="material-icons icon">
                people_alt
              </span>
              Roles
            </button>

            <mat-menu
              #menuRoles="matMenu"
              xPosition="after"
              yPosition="below"
              direction="vertical"
            >
              <section mat-menu-item disableRipple="true" class="row">
                <button
                  mat-button
                  (click)="adminRedirect('roles/users')"
                  style="width: 100%;"
                >
                  <div class="flex1">
                    <span class="material-icons icon">
                      person_add
                    </span>
                    <div *ngSwitchCase="'Esp'">
                      crear y modificar usuarios
                    </div>
                    <div *ngSwitchCase="'Eng'">
                      create and modify users
                    </div>
                  </div>
                </button>
              </section>
              <section mat-menu-item disableRipple="true" class="row">
                <button
                  mat-button
                  (click)="adminRedirect('roles')"
                  style="width: 100%;"
                >
                  <div class="flex1">
                    <span class="material-icons icon">
                      people_alt
                    </span>

                    <div *ngSwitchCase="'Esp'">
                      Administrar roles
                    </div>
                    <div *ngSwitchCase="'Eng'">
                      Manages roles
                    </div>
                  </div>
                </button>
              </section>
            </mat-menu>
          </div>
          <div>
            <button
              id="banner"
              mat-button
              [matMenuTriggerFor]="menuBanner"
              (menuOpened)="menuOpened('banner')"
              (menuClosed)="menuClosed('banner')"
              disableRipple="true"
              class="colapsable-menu"
            >
              <span class="material-icons icon">
                photo
              </span>
              Banner
            </button>

            <mat-menu
              #menuBanner="matMenu"
              xPosition="after"
              yPosition="below"
              direction="vertical"
            >
              <section mat-menu-item disableRipple="true" class="row">
                <button
                  mat-button
                  (click)="adminRedirect('banners')"
                  style="width: 100%;"
                >
                  <div class="flex1">
                    <span class="material-icons icon">
                      collections
                    </span>

                    <div *ngSwitchCase="'Esp'">
                      Crear o modificar banners
                    </div>
                    <div *ngSwitchCase="'Eng'">
                      Create or modify banners
                    </div>
                  </div>
                </button>
              </section>
            </mat-menu>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider></mat-divider>

  <h2 class="sidebar-title" *ngIf="prop.length > 0">
    <div *ngSwitchCase="'Esp'">
      Proyectos asignados
    </div>
    <div *ngSwitchCase="'Eng'">
      Assigned projects
    </div>
  </h2>

  <!-- projects section -->
  <mat-accordion *ngIf="prop.length > 0" multi="false">
    <mat-expansion-panel
      *ngFor="let project of prop; let id = index"
      (opened)="arrowRotate(true, id)"
      (closed)="arrowRotate(false, id)"
      [id]="'panel' + id"
      hideToggle
    >
      <mat-expansion-panel-header>
        <i class="material-icons arrow" [id]="'arrowH' + id">
          arrow_forward_ios
        </i>
        <span class="material-icons icon menu-icon" [id]="'iconH' + id">
          {{ project.icon }}
        </span>
        {{ lang == 'Esp' ? project.name_es : project.name_en }}
      </mat-expansion-panel-header>
      <div class="left-line">
        <div *ngFor="let menuItem of project.menu">
          <button
            *ngIf="menuItem.app_list.length == 0 && menuItem.state == true"
            mat-button
            disableRipple="true"
          >
            redireccion a: {{ menuItem.name_es }}
          </button>

          <div *ngIf="menuItem.app_list.length > 0 && menuItem.state == true">
            <button
              [id]="menuItem.name_es"
              mat-button
              [matMenuTriggerFor]="menu"
              (menuOpened)="menuOpened(menuItem.name_es)"
              (menuClosed)="menuClosed(menuItem.name_es)"
              disableRipple="true"
              class="colapsable-menu"
            >
              <span *ngSwitchCase="'Esp'">
                {{ menuItem.name_es }}
              </span>
              <span *ngSwitchCase="'Eng'">
                {{ menuItem.name_es }}
              </span>
            </button>

            <mat-menu
              #menu="matMenu"
              xPosition="after"
              yPosition="below"
              direction="vertical"
            >
              <section
                mat-menu-item
                disableRipple="true"
                class="row"
                *ngFor="let program of menuItem.app_list"
                (click)="$event.stopPropagation()"
              >
                <button mat-button (click)="openApp(program.id)">
                  <div class="flex1">
                    <i
                      *ngIf="sideStatus"
                      class="material-icons arrow"
                      [id]="id"
                    >
                      arrow_forward_ios
                    </i>
                    {{ program.item_name }}
                  </div>
                </button>
                <input
                  [id]="program.id"
                  class="star"
                  type="checkbox"
                  title="bookmark page"
                  [(checked)]="program.fav"
                  (change)="updateFav($event.target.checked, program)"
                />
              </section>
            </mat-menu>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- separator -->
  <span class="separator"></span>
  <!-- hide/show sidebar button -->
  <button
    mat-button
    disableRipple="true"
    (click)="openSidebar()"
    id="collapseSide"
    class="rounded"
    title="Expandir Menu"
  >
    <span class="material-icons icon" id="arrowSide">
      play_arrow
    </span>
  </button>
</aside>
